<section class="thirteen columns">
<h1>Publications</h1>

<article>Renan O. Netto, Tiago A. Fontana, <strong>Sheiny F. Almeida</strong>, Bernardo F. Mendonca, Vinicius Livramento, Thiago Barbato, Joao Souto, Chrystian Guth, Jose L. A. Guntzel, Laercio L. Pilla, Jose L. A. Guntzel, Renan O. Netto, Tiago A. Fontana, Vinicius Livramento. <a href="https://drive.google.com/open?id=1KtQ9WKj2S3YhlcAq5U1xA3wXQVo-q9-U" style="text-decoration: underline;">&quot;Ophidian: an Open-Source Library for Physical Design Research and Teaching&quot;</a> <i> In Workshop on Open-Source EDA Technology, 2018.</article>

<article><strong>Sheiny F. Almeida</strong>, Jose L. A. Guntzel, Laercio L. Pilla, Jose L. A. Guntzel, Renan O. Netto, Tiago A. Fontana, Vinicius Livramento. <a href="https://drive.google.com/open?id=17ooJZFSMWKEtfNXkrEuEtoAEjG6Uof2V" style="text-decoration: underline;">&quot;Enhancing Multi-Threaded Legalization Through k-d Tree Circuit Partitioning&quot;</a> <i> In Symposium on Integrated Circuits and Systems Design, 2018.</article>

<article>Tiago A. Fontana, Renan O. Netto, <strong>Sheiny F. Almeida</strong>, Vinicius Livramento, Chrystian Guth, Laercio L. Pilla, Jose L. A. Guntzel. <a href="https://drive.google.com/open?id=1HEoi47bn6kqkQ4ps9Dhrm3IHBYDk-tuE" style="text-decoration: underline;">&quot;How Game Engines Can Inspire EDA Tools Development: A use case for an open-source physical design library&quot;</a> <i> In International Symposium on Physical Design, 2017.</article>

<article>Tiago A. Fontana, <strong>Sheiny F. Almeida</strong>, Renan O. Netto, Vinicius Livramento, Chrystian Guth, Laercio L. Pilla, Jose L. A. Guntzel. <a href="https://drive.google.com/open?id=1LYwUxS3e-mgIOVb3D4bSeoprwkn3DMNO" style="text-decoration: underline;">&quot;Exploiting Cache Locality to Speedup Register Clustering&quot;</a> <i> In Symposium on Integrated Circuits and Systems Design, 2017.</article>

<article><strong>Sheiny F. Almeida</strong>, Bernardo F. Mendonca, Laercio L. Pilla, Jose L. A. Guntzel. <a href="https://drive.google.com/open?id=18Rqv8B7TLZI18f0uOAmFtRxEAO5Pj2L_" style="text-decoration: underline;">&quot;Comparando orientacao a dados e orientacao a objetos em analise de timing estatica&quot;</a> <i> In Forum de Iniciação Cientí­fica da ERAD, 2017.</article>

<article><strong>Sheiny F. Almeida</strong>, Laercio L. Pilla, Jose L. A. Guntzel. <a href="https://drive.google.com/open?id=1Ro_0PakMhfZCBLYqDct4djXpEVNwU06K" style="text-decoration: underline;">&quot;Paralelismo em Analise de Timing Estatica&quot;</a> <i> In Forum de Iniciação Cientí­fica da ERAD RS, 2016.</article>

</section>
